# Entornos virtuales
venv/
.env/

# Caches de Python
__pycache__/
**/__pycache__/
*.py[cod]
*$py.class


# Archivos de compilación
*.so

# Configuración de IDE
.vscode/
.idea/

# Archivos temporales
*.log
*.tmp

# Carpetas de tu aplicación (si querés ignorar datos locales)
instance/
