blinker==1.9.0
click==8.1.7
colorama==0.4.6

# Flask estable compatible con flask-jwt-extended
Flask==2.3.3

# ORM + integración Flask
SQLAlchemy==2.0.44
Flask-SQLAlchemy==3.1.1

greenlet==3.2.4
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3

# DB MySQL
PyMySQL==1.1.2

typing_extensions==4.15.0
Werkzeug==2.3.7

python-dotenv==1.0.0

# JWT (requiere Flask < 3.0)
flask-jwt-extended==4.4.4

cryptography==41.0.3

flask-cors==4.0.0

flask-mail==0.9.1